<div class="container">
  <h2>Desktop Applications</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Last Updated</th>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2017-03-04</td>
        <td>XML Validator</td>
        <td>Checks your xml</td>
      </tr>
      <tr>
        <td>2017-01-24</td>
        <td>Simple Draw</td>
        <td>Based on MS Paint written in Java</td>
      </tr>
      <tr>
        <td>2017-03-04</td>
        <td>Address Book</td>
        <td>Really old GUI app using linked lists</td>
      </tr>
      <tr>
        <td>2017-02-17</td>
        <td>Puzzle</td>
        <td>Lobster puzzle</td>
      </tr>
    </tbody>
  </table>
</div>
