<div class="container">
  <h2>Web Applications</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Last Updated</th>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |project|}}
        <tr>
          <td>{{project.id}}</td>
          <td>{{project.lastUpdated}}</td>
          <td>{{project.link}}</td>
          <td>{{project.description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
