<div class="container">
  <h2>Web Applications</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Last Updated</th>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2017-03-04</td>
        <td>BF Interpreter</td>
        <td>Interprets stuff</td>
      </tr>
      <tr>
        <td>2017-01-24</td>
        <td>FakeBook</td>
        <td>Clone of facebook comments</td>
      </tr>
      <tr>
        <td>2017-03-04</td>
        <td>Projectile Motion</td>
        <td>Physics simulation involving parabolic projectile motion in 2D</td>
      </tr>
      <tr>
        <td>2017-02-17</td>
        <td>Puzzle</td>
        <td>Lobster puzzle</td>
      </tr>
    </tbody>
  </table>
</div>
