<div class="container">
  <div class="panel panel-default inline-block">
    <div class="panel-heading">
      <h4>Welcome to SpencerBartz.com</h4>
    </div>
    <div class="panel-body">
      <pre class="inherit-font">
        This site is a compilation of some of my programming projects in various
        languages. Web Applications can be run within your browser. Java and Python
        require installation of a separate runtime environment. Links to those
        downloads are at the bottom of this page. All site functionality you see
        (e.g.search and news archives) is written from scratch in PHP, JavaScript,
        and MySQL. The full source code of this entire site is available as a
        public repository on GitHub.
      </pre>
    </div>
  </div>
</div>
